// MIXINS

@mixin full-page-msg($msg) {
  content: $msg;
  font-family: MedievalSharp;
  font-size: 2em;
  margin-top: -0.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  color: black;
  width: 100%;
}

// A mixin for centering absolute positioned elements.
@mixin center-horizontally($width) {
  margin-left: calc(#{$width} / (-2));
  margin-left: calc(#{strip-calc($width)} / (-2));    // For browsers that don't support nested calc() functions.
  left: 50%;
  width: #{$width};
}

@mixin chains($path, $holes-width, $chains-height, $chains-position-top) {  
  @include center-horizontally($holes-width);
  background-image: url($path);
  height: $chains-height;
  top: #{-$chains-position-top};
}

@mixin chains-multiple-backgrounds($chains-width,
                                   $chains-height,
                                   $profile-links-y,
                                   $profile-link-dy,
                                   $front-links-y,
                                   $front-link-dy) {
  @include center-horizontally($chains-width);
  background-image: tiling-images(url($path-to-chain-link), 20);
  background-position: tiling-positions($tiling-x: 0px,
                                        $tiling-y: $profile-links-y,
                                        $tile-dx: 0px,
                                        $tile-dy: $profile-link-dy,
                                        $tiles-per-line: 10),
                       tiling-positions($tiling-x: 100%,
                                        $tiling-y: $front-links-y,
                                        $tile-dx: 0px,
                                        $tile-dy: $front-link-dy,
                                        $a: 2,
                                        $b: -1,
                                        $tiles-per-line: 10);
  background-size: 200% $chains-link-height;
  background-repeat: no-repeat;
  height: $chains-height;
}

@mixin plaque($path) {
  @include center-horizontally($bulletin-plaque-width);
  background-image: url($path);
  bottom: 0;
  height: $bulletin-board-height;
}

@mixin corners($path, $board-height, $board-position-top) {
  background-image: url($path);
  bottom: $board-position-top;
  height: $board-height;
  width: 100%;
}

@mixin horizontal-sides($path, $horizontal-width, $board-height, $board-position-top) {
  @include center-horizontally($horizontal-width);
  background-image: url($path);
  bottom: $board-position-top;
  height: $board-height;
}

@mixin vertical-sides($path, $vertical-height, $board-height, $side-position-left, $pairs-of-chains) {
  background-image: url($path);
  height: $vertical-height;
  top: calc((100% - #{$board-height}) / #{$pairs-of-chains} + #{strip-calc(#{$side-position-left})});
  width: 100%;
}

@mixin holes($path, $holes-width, $board-height, $board-position-top) {
  @include center-horizontally($holes-width);
  background-image: url($path);
  bottom: $board-position-top;
  height: $board-height;
}

@mixin planks($path, $board-height, $board-position-top) {
  background-image: url($path);
  bottom: $board-position-top;
  height: $board-height;
  width: 100%;
}

@mixin planks-multiple-backgrounds($corner-width, $board-height) {
  background-clip: padding-box;
  background-color: $color-planks-diffuse;
  background-image: tiling-images(url($path-to-shades), 80),
                    tiling-images(url($path-to-grooves), 100);
  background-position: tiling-positions($tiling-x: 12%,
                                        $tiling-y: 0px,
                                        $tile-dx: 14%,
                                        $tile-dy: 0px,
                                        $line-dy: $shade-height,
                                        $tiles-per-line: 4, $lines: 10),
                       tiling-positions($tiling-x: 88%,
                                        $tiling-y: 0px,
                                        $tile-dx: -14%,
                                        $tile-dy: 0px,
                                        $line-dy: $shade-height,
                                        $tiles-per-line: 4, $lines: 10),
                       tiling-positions($tiling-x: 0px,
                                        $tiling-y: 0px,
                                        $tile-dx: $grooves-width,
                                        $tile-dy: 0px,
                                        $line-dy: $grooves-height,
                                        $tiles-per-line: 10,
                                        $lines: 10);
  background-size: tiling-sizes(200% 765px, 80),
                   tiling-sizes($grooves-width $grooves-height, 100);
  background-repeat: no-repeat;
  box-sizing: border-box;
  clip-path: planks-clip($corner-width);
  height: $board-height;
  width: 100%;
}