// EXAMPLES

.bulletin {
  height: 95%; // Total height of the board and chains.
  left: 35%;
  margin-left: -30%;
  min-height: 30%;
  min-width: 40%;
  width: 60%;
}

.sign {
  height: 95%; // Total height of the board and chains.
  right: 35%;
  margin-right: -30%;
  min-height: 30%;
  min-width: 15%;
  width: 25%;
}